.ReactMultipleDiagram {
    border: 1px solid;
    position: relative;
    cursor: auto;
    overflow: hidden;
    background: #fff;
}

/* .ReactMultipleDiagram rect[fill="transparent"] {
    stroke: #000;
    stroke-width: 1;
} */

.ReactMultipleDiagram.DragInited {
    cursor: grabbing;
}