.ReactSVGPanZoom {
    border: 1px solid;
    position: relative;
    cursor: auto;
}

/* .ReactSVGPanZoom rect[fill="transparent"] {
    stroke: #000;
    stroke-width: 1;
} */

.ReactSVGPanZoom.DragInited {
    cursor: grabbing;
}